html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: rgb(52, 52, 52);
	background-color: #666;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

section {
	border: 1px solid gray;
}

form input {
	max-width: 100%;
}

nav {
	background-color: #222;
    position: absolute;
    bottom: 0;
	padding: 0 .5rem;
	width: calc(100% - .5rem * 2);
}

nav a {
	display: inline-block;
	background-color: #ff3e00;
	font-size: 1.5rem;
	padding: .25rem;
}