<script lang="ts">
  import NewRoom from "../components/NewRoom.svelte";
  import JoinRoom from "../components/JoinRoom.svelte";

  export let title: string;
</script>

<main>
  <h1>{title}!</h1>

  <NewRoom />
  <JoinRoom />
</main>

<style>
  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    word-wrap: break-word;
  }
</style>
