<script lang="ts">
  import UsersContainer from "../components/UsersContainer.svelte";
  import ImageClicker from "../components/ImageClicker.svelte";

  import { onDestroy } from "svelte";
  import type { Room, User, Vector } from "../model/room";
  import { WebSocketConnection } from "../model/web-socket-connection";
  import { AddUserToRoomEvent } from "../events/add-user-to-room";
  import { RemoveUserFromRoom } from "../events/remove-user-from-room";
  import { room } from "../stores/room";
  import { selectedUser } from "../stores/selectedUser";
  import { AddVectorToUserEvent } from "../events/add-vector-to-user/add-vector-to-user";
  import VectorContainer from "../components/VectorContainer.svelte";
  import { RemoveVectorFromUserEvent } from "../events/remove-vector-from-user/remove-vector-from-user";

  export let roomId = "";

  const socketService = new WebSocketConnection(roomId, [], room, selectedUser);

  let roomInstance: Room;
  let selectedUserInstance: User;

  room.subscribe((room) => {
    if (room) {
      roomInstance = room;
    }
  });

  selectedUser.subscribe((user) => (selectedUserInstance = user));

  onDestroy(() => socketService.close());

  $: onCreateNewUser = (event: CustomEvent<string>) => {
    const username = event.detail;
    socketService.sendMessage(
      new AddUserToRoomEvent(roomInstance.id, username)
    );
  };

  $: onSelectUser = (event: CustomEvent<User>) => {
    const user = event.detail;
    selectedUser.set(user);
  };

  $: onRemoveUser = (event: CustomEvent<User>) => {
    const user = event.detail;
    socketService.sendMessage(
      new RemoveUserFromRoom(roomInstance.id, user.username)
    );
  };

  $: onImageClicked = (event: CustomEvent<Vector>) => {
    if (selectedUserInstance) {
      socketService.sendMessage(
        new AddVectorToUserEvent(
          roomInstance.id,
          selectedUserInstance.username,
          event.detail
        )
      );
    }
  };

  $: onRemoveVector = (event: CustomEvent<{ user: User; vector: Vector }>) => {
    socketService.sendMessage(
      new RemoveVectorFromUserEvent(
        roomInstance.id,
        event.detail.user.username,
        event.detail.vector
      )
    )
  };
</script>

<section>
  <h1>Room {roomInstance.name}</h1>
  <p>Nothing to see here! 😅</p>

  <UsersContainer
    users={roomInstance.users}
    on:new-user={onCreateNewUser}
    on:remove-user={onRemoveUser}
    on:select-user={onSelectUser}
  />
  <VectorContainer
    users={roomInstance.users}
    on:remove-vector={onRemoveVector}
  />
  <ImageClicker
    imagePath="https://cdn.pixabay.com/photo/2017/09/16/19/21/salad-2756467_960_720.jpg"
    users={roomInstance.users}
    on:image-click={onImageClicked}
  />
</section>

<style>
  section {
    width: 100%;
    overflow: scroll;
  }
</style>
