<script lang="ts">
  import type { Vector } from "../model/room";

  export let color: string;
  export let vector: Vector;

  $: style = `background-color: ${color}`;
  $: position = `top: calc(${vector.y}% - 25px); left: ${vector.x}%`;
</script>

<div class="cross" style={position}>
  <div style="position: relative;">
    <div class="box" {style} />
    <div class="box rotated" {style} />
  </div>
</div>

<style>
  .cross {
    position: absolute;
  }

  .box {
    position: absolute;
    width: 10px;
    height: 50px;
  }

  .rotated {
    rotate: 90deg;
  }
</style>
