<script lang="ts">
  export let title = "";
  export let collapsed = false;

  $: toggleCollapsed = () => {
    collapsed = !collapsed;
  };
  $: collapsedContainerStyle = `${collapsed ? "collapsed" : ""}`;
</script>

<section>
  {#if title.length > 0}
    <h2>{title}</h2>
  {/if}

  <button on:click={toggleCollapsed}>
    {#if collapsed}
      show
    {:else}
      hide
    {/if}
  </button>

  <div class={collapsedContainerStyle}>
    <slot />
  </div>
</section>

<style>
  .collapsed {
    display: none;
  }
</style>
