<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import type { User } from "../model/room";
  import Cross from "./Cross.svelte";

  const dispatch = createEventDispatcher();

  export let users: Record<string, User>;
  export let imagePath: string;

  $: onImageClick = (event: MouseEvent) => {
    const target: HTMLImageElement = event.target as HTMLImageElement;
    const imageSize = { x: target.offsetWidth, y: target.offsetHeight };
    const vector2 = {
      x: event.offsetX / (imageSize.x / 100),
      y: event.offsetY / (imageSize.y / 100),
    };
    dispatch("image-click", vector2);
  };

  $: usersArray = Object.values(users);
</script>

<section>
  <!-- 
        TODO add a link to the reason why not provided! 
        Problem with this app prototype is, that it's based on visual images.
        Implementation to work with screen readers is to big for this prototype!
    -->
  <img
    src={imagePath}
    alt="We are sorry, descriptions are currentlly not provided."
  />

  <div class="cross-container" on:click={onImageClick}>
    {#each usersArray as user}
      {#each user.vectors as vector}
        <Cross color={user.color} {vector} />
      {/each}
    {/each}
  </div>
</section>

<style>
  section {
    overflow: scroll;
    position: relative;
    width: fit-content;
  }

  img {
    max-height: 100%;
  }

  .cross-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
</style>
