<script lang="ts">
  import { navigate } from "svelte-routing";

  $: onSumit = (event: Event) => {
    const roomId = event.target["room-id"].value;
    navigate(`/room/${roomId}`);
  };
</script>

<section>
  <h2>Join a new Room</h2>
  <form on:submit|preventDefault={onSumit}>
    <input
      type="text"
      name="room-id"
      id="room-id"
      maxlength="36"
      placeholder="e70ee241-c619-42a8-81c9-116a2d201004"
    />
    <input type="submit" value="Join" />
  </form>
</section>
