<script lang="ts">
  import { BackendService } from "../model/backend-service";
  import { navigate } from "svelte-routing";

  $: onSumit = (event: Event) => {
    const roomName = event.target["room-name"].value;
    BackendService.createNewRoom(roomName)
      .then((roomId) => {
        navigate(`/room/${roomId}`, { replace: true });
      })
      .catch((error) => {
        console.log("Error", error);
      });
  };
</script>

<section>
  <h2>Create a new Room</h2>
  <form on:submit|preventDefault={onSumit}>
    <input
      type="text"
      name="room-name"
      id="room-name"
      minlength="4"
      placeholder="Sunday-Cooking-Day"
    />
    <input type="submit" value="Create" />
  </form>
</section>
