<script lang="ts">
  import Foldable from "./Foldable.svelte";
  import UserContainerCard from "./UserContainerCard.svelte";
  import type { User } from "../model/room";
  import { createEventDispatcher } from "svelte";

  export let users: Record<string, User>;
  let usernameInput = "";

  $: usersArray = Object.values(users);

  const dispatch = createEventDispatcher();

  $: createNewUser = () => {
    dispatch("new-user", usernameInput);
    usernameInput = "";
  };

  $: onSelectUser = (event: CustomEvent<User>) => {
    dispatch("select-user", event.detail);
  };

  $: onRemoveUser = (event: CustomEvent<User>) => {
    dispatch("remove-user", event.detail);
  };
</script>

<section>
  <Foldable title="User container">
    {#if usersArray.length > 0}
      <ul>
        {#each usersArray as user}
          <UserContainerCard
            {user}
            on:remove-user={onRemoveUser}
            on:select-user={onSelectUser}
          />
        {/each}
      </ul>
    {:else}
      <p>The room contains no user. You can create one down below!</p>
    {/if}

    <form on:submit|preventDefault={createNewUser}>
      <input
        type="text"
        name="username"
        id="username"
        min="1"
        placeholder="Type here your beautiful name"
        bind:value={usernameInput}
      />
      <input type="submit" value="Create" />
    </form>
  </Foldable>
</section>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
