<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { isSelected, selectedUser } from "../stores/selectedUser";

  import type { User } from "../model/room";

  const dispatch = createEventDispatcher();

  export let user: User;

  $: style = `background-color: ${user.color}`;

  $: selectUser = () => {
    dispatch("select-user", user);
  };

  $: removeUser = () => {
    dispatch("remove-user", user);
  };

  let isUserSelected: boolean = false;

  selectedUser.subscribe((u) => {
    isUserSelected = user.username === u?.username;
  });

  $: styleClass = `user-container-card ${isUserSelected ? "is-selected" : ""}`;
</script>

<section class={styleClass}>
  <span>{user.username}</span>
  <div class="color-indicator" {style} />

  <button on:click={selectUser}>Select</button>
  <button on:click={removeUser}>Remove</button>
</section>

<style>
  .user-container-card {
    padding: 0.5rem;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .is-selected {
    background-color: green;
  }

  .color-indicator {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
  }

  button {
    margin: 0 0 0 auto;
  }
</style>
