<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import type { User, Vector } from "../model/room";
  import Foldable from "./Foldable.svelte";
  import UserContainerCard from "./UserContainerCard.svelte";
  import VectorCard from "./VectorCard.svelte";

  export let user: User;

  const dispatch = createEventDispatcher();

  $: onRemoveVector = (event: CustomEvent<Vector>) => {
    dispatch("remove-vector", { user: user, vector: event.detail });
  };
</script>

<section>
  <h3>{user.username}</h3>
  <Foldable collapsed={true}>
    {#each user.vectors as vector}
      <VectorCard {vector} on:remove-vector={onRemoveVector} />
    {/each}
  </Foldable>
</section>
