<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import type { User, Vector } from "../model/room";
  import Foldable from "./Foldable.svelte";
  import VectorContainerCard from "./VectorContainerCard.svelte";

  export let users: Record<string, User> = {};

  const dispatch = createEventDispatcher();

  $: onRemoveVector = (event: CustomEvent<{ user: User; vector: Vector }>) => {
    dispatch("remove-vector", event.detail);
  };
</script>

<section>
  <Foldable title="User vectors" collapsed={true}>
    {#each Object.values(users) as user}
      <VectorContainerCard {user} on:remove-vector={onRemoveVector} />
    {/each}
  </Foldable>
</section>
