<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import type { Vector } from "../model/room";

  export let vector: Vector;

  const dispatch = createEventDispatcher();

  function round(num: number): number {
    return Math.round(num * 100) / 100;
  }

  $: removeVector = () => {
    dispatch("remove-vector", vector);
  };
</script>

<section class="vector-container-card">
  <span>{round(vector.x)} / {round(vector.y)}</span>
  <button on:click={removeVector}>Remove</button>
</section>

<style>
  .vector-container-card {
    padding: 0.5rem;
    text-align: left;
    display: flex;
    align-items: center;
  }

  button {
    margin: 0 0 0 auto;
  }
</style>
