<script lang="ts">
  import { Router, Link, Route } from "svelte-routing";

  import Room from "./pages/Room.svelte";
  import Home from "./pages/Home.svelte";
  import { BASE_URL } from "./config";

  export let name: string = "";
  let url = BASE_URL;
</script>

<Router {url}>
  <main>
    <div>
      <Route path="room/:id" let:params>
        <Room roomId={params.id} />
      </Route>
      <Route path="/"><Home title={name} /></Route>
    </div>
  </main>
  <nav>
    <Link to="/">Home</Link>
  </nav>
</Router>

<style>
  main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    height: calc(100% - 4rem);

    overflow: scroll;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
